/*element*/
p{
    color:green;
}
/*universal*/
*{
    background-color:burlywood;
}
/*class selector-bestpractice*/
.cseclass{
    background-color:yellowgreen ;
}
/*id selector*/
#cseclass{
    background-color: rgb(241, 14, 86);
}
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    display: flex;
}
.auth-form{

}